body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90vh repeat(4, auto);
}
header {
    position: relative;
}
header > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header > .header-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
header > .header-body > .header-body-content {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    align-content: center;
    justify-items: center;
    align-items: center;
}
.header-body-content .title {
    font-size: 2rem;
}
.header-body-content .paragraph {
    font-size: 1.3rem;
}
.header-body-content .btn-action-website {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
article {
    margin: 0;
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(4, minmax(auto, 250px));
    grid-gap: 1rem;
}
article > .article-title > h2 {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
article > .article-title > h2 > span {
    font-style: italic;
    font-weight: lighter;
}
article > .article-card {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}
article > .article-card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}
article > .article-card > .article-card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delivery-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.delivery-card-tag {
    background: rgba(0, 0, 0, 0.51);
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.circle {
    opacity: .8;
    filter: blur(5rem);
}
/* PRELOADER */
.loaded .preloader {
    display: none;
}
.preloader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
.preloader img {
    animation: pulse 0.5s infinite alternate;
}
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
@media (min-width: 768px) {
    .container {
        padding: 0 !important;
    }
    body {
        grid-template-rows: 90vh repeat(4, auto);
    }
    header > .header-body > .header-body-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: end;
    }
    .header-body-content .title {
        font-size: 3rem;
    }
    .header-body-content .paragraph {
        font-size: 1.5rem;
    }
    .header-body-content .btn-action-website {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    article {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(2, minmax(auto, 250px));
    }
    article > .article-title {
        grid-column: span 2;
    }
}